@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        <input id="txtusername" class="form-control" placeholder="User Name" type="text">
    </div>
    <br />

    <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input id="txtemail" class="form-control" placeholder="Email address" type="email">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>

        <input id="txtphone" class="form-control" placeholder="Phone number" type="text">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
        </div>
        <select class="form-control" id="txtrole">
            <option selected=""> Role</option>
            <option value="Super Admin">Super Admin</option>
            <option value="Admin">Admin</option>
        </select>
    </div> <!-- form-group end.// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input class="form-control" id="txtpassword" placeholder="Create password" type="password">
    </div> <!-- form-group// -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
        </div>
        <input class="form-control" id="txtaddress" placeholder="Address" type="text">
    </div> <!-- form-group// -->
    <div class="form-group">
        <button type="submit" id="btnupdate" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->
    <div id="Errordiv" class="alert alert-danger collapse">
        <a id="linkclose" class="close" href="#">&times;</a>
        <div id="diverrortext"></div>
    </div>
</body>
</html>
<script src="Scripts/jquery-3.6.0.js"></script>
<script src="Scripts/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        @*var id = @Request.QueryString["id"]*@
            //$.get("api/Registration/GetById/", { id: id }, function (data) {

            $('#btnupdate').click(function () {
                $.ajax({
                    url: 'api/Registration/edit/4' /*+ id*/,
                    method: 'PUT',

                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken'),

                    },

                    data: {

                        Strusername: $('#txtusername').val(),
                        StrEmail: $('#txtemail').val(),
                        StrPassword: $('#txtpassword').val(),
                        StrContactNumber: $('#txtphone').val(),
                        StrAddress: $('#txtaddress').val(),
                        StrType: $('#txtrole').val(),
                    },

                    success: function (xmlHttp, status) {
                        if (xmlHttp.status == 200) {
                            $('#diverrortext').text(jqXHR.responseText);
                            $('#Errordiv').show('fade');

                        }
                    },


                    error: function (jqXHR) {

                        $('#diverrortext').text(jqXHR.responseText);
                        $('#Errordiv').show('fade');

                    }
                });
            });
            


    });
</script>